{% load static%}
<div class="m-0 fixed-top">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a href="#" class="navbar-brand ">
                <img src="{% static 'images/consulting.jpg'%}" height="42" width="60px" alt="CoolBrand">
              CD Consulting
            </a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav " >
                    <a href="#" class="nav-item nav-link active">Home</a>
                    <a href="#aboutUs" class="nav-item nav-link active">About Us</a>
                    <a href="#services" class="nav-item nav-link active">Services</a>
                    <a href="#" class="nav-item nav-link active">Contact Us</a>
                </div>
<!--                <div class="navbar-nav ms-auto">-->
<!--                    <a href="#" class="nav-item nav-link">Login</a>-->
<!--                </div>-->
            </div>
        </div>
    </nav>
</div>